.feature-item {
  position: relative;
  padding-bottom: 1.8rem;

  @mixin atSmall {
    padding-left: 5.8rem;
    padding-bottom: 2.5rem;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title{
    color: $mainWhite;
    font-size: 1.6rem;
    margin-top: .9em;
    text-align: center;

    @mixin atSmall{
      font-size: 1.875rem;
      font-weight: 300;
      line-height: 1.8rem;
      text-align: left;
    }
  }

  &__text {
    color: $mainWhite;
    text-align: center;

    @mixin atSmall {
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.8rem;
      text-align: left;
    }
  }
}
