.margin {

  &--b-small {
    margin-bottom: .5rem;
  }

  &--b-medium {
    margin-bottom: 1rem;
  }

  &--b-large {
    margin-bottom: 1.6rem;
  }

  &--l-medium {
    margin-left: 2rem;
  }

  &--l-large {
    margin-left: 3rem;
  }
}

.padding {
  &--2rem {
    padding: 2rem 0 1rem 0;
  }
}
